html,body{
	height:100vh;
	margin:0px;
	width:100%;
	padding:0px;
	overflow:hidden;
	position: absolute;
	top: -3vh;
}

.cajones{
	position:relative;
	padding:0px;
	margin:0px;
	top:12vh;
}



.cajones::before {

    content: '';
    width: 7.11vw;
    height: 11.2vh;
    background: url(img/tapa.svg);        
    position: absolute;
    background-size: 100%;
    left: 3.9vw;
    z-index: 1000;
    top: -1.8vh;
    background-repeat: no-repeat;

}

#cajonl:before{
    background: url(img/tapa2.svg);    
    background-repeat: no-repeat;
    width: 7.03vw;
    height: 12vh;
    top: -2.3vh;
    left: 3.98vw;
}

#cajonr:before{
	background: url(img/tapa3.svg);	
	background-repeat: no-repeat;
}

.cajones li{
	width: 15vw;
	height: 15vh;
	background: url(img/cajon.svg);	    
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	list-style: none;
	padding:0px;
	margin:0px;
	position:absolute;
}

.cajones li img{
    width: 8vh;
    position: absolute;
    left: 5.39vw;
}

/*.cajones li:after{
    background: url(img/cajon.svg);
	position: absolute;
	bottom: -2vh;
	width: 15vw;
	height: 9vh;
	content: '';
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}*/

.hoja{
	z-index:10000;
	background:none !important;
}

.hoja:after{
	content: '';
	background: url(img/cajon.svg);
	width: 100%;
	height: 8vh;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	left: 0;
	background-position: bottom;
	bottom: -1vh;
}


#cajonn{
	left:24vw;
}

#cajonl{
	left:42vw;
}

#cajonr{
	left:60vw;
}

#desorden li{
	cursor:pointer;
}

#suelo{
	background: url(img/suelo.svg);        
	width: 74vw;
	height: 46vh;
	background-position: 0 23px;
	background-repeat: no-repeat;
	position: absolute;
	background-position: bottom;
	background-size: 100%;
	top: 30vh;
	left: 13vw;
}

#desorden, #desorden li{
	list-style: none;
	margin:0;
	padding:0;
}
#desorden li{
	position:absolute;
	z-index:100000;
}
#desorden li img{
	width:10vw;
	height:10vh;
}
#desorden li:after{
	content: '';
	background: url(img/sombra.png);
	width: 4.3vw;
	position: absolute;
	left: 29%;
	height: 12vh;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 10vh;
}

.reloj{
	background: url(img/reloj.svg);
	width: 7.2vw;
	height: 10.5vh;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	left: 26.18vw;
	top: 75vh;
	z-index: 100000;
	padding: 2vh 1vw;
	text-align: center;
	font-size: 2vw;
}

#mensajes{
	position: fixed;
	top: 0px;
	left: 0px;
	color: black;
	width: 100%;
	z-index:100000;
	background:rgba(255,255,255,.5);
}

@media screen and (max-width:640px) and (max-height:280px){
	.cajones::before {
		top: -6.4vh;
	}
}

@media screen  and (min-width:641px) and (max-width:768px) and (max-height:320px){
	.cajones::before {
		top: -7.4vh;
	}
}

@media screen  and (min-width:641px) and (max-width:768px) and (max-height:414px){ /**** IPHONE ***/
	#cajonr:before {	    
	    left: 4vw !important;
	}

	.cajones::before {
	    top: -1.2vh;
	}

	#cajonl:before {
	    top: -1.5vh;
	}
	#cajonr:before {
	    width:7.05vw;
	    top: -0.95vh;
	}

	.cajones li img {
	    width: 8vh;
	    position: absolute;
	    left: 5.25vw;
	}
}

@media screen and (min-width:769px) and (max-width:1024px) and (max-height:768px){
	.cajones {
     	top: 21vh;
	}

	#suelo {
	    background: url(img/suelo.svg);
	    width: 104vw;
	    height: 46vh;
	    background-position: 0 23px;
	    background-repeat: no-repeat;
	    position: absolute;
	    background-position: 0px 48px;
	    background-size: 77%;
	    top: 30vh;
	    left: 14vw;
	}

	#desorden li img {
	    width: 7vw;
	    height: 7vh;
	}
}

@media screen and (min-width:1400px){
	.hoja:after{		
		height: 9vh;		
		bottom: -2vh;
	}
}
